---
interface Props {
  href: string;
  text: string;
  variant?: 'primary' | 'secondary';
  isDownload?: boolean;
  target?: 'internal' | 'external' | 'download';
}

const { href, text, variant = "primary", target } = Astro.props;
---

{
  target === 'download' && (
    <a href={href} class={`button-link ${variant}`} download>
      {text}
    </a>
  )
}

{
  target === 'external' && (
    <a href={href} class={`button-link ${variant}`} target="_blank" rel="noopener noreferrer">
      {text}
    </a>
  )
}

{
  target === 'internal' && (
    <a href={href} class={`button-link ${variant}`} >
      {text}
    </a>
  )
}


<style>
  .button-link {
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    width: 230px;
  }

  .primary {
    background-color: var(--primary);
    color: white;
  }

  .secondary {
    background: white;
    color: var(--primary);
    border: 1px solid var(--primary);
  }
</style>
