---
interface Props {
  href: string;
  text: string;
  variant?: 'primary' | 'secondary';
  isDownload?: boolean;
}

const { href, text, variant = "primary", isDownload } = Astro.props;
---

{
  isDownload && (
    <a href={href} class=`button-link ${variant}` download>
      {text}
    </a>
  )
}

{
  !isDownload && (
    <a href={href} class=`button-link ${variant}`>
      {text}
    </a>
  )
}

<style>
  .button-link {
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    width: 230px;
  }

  .primary {
    background-color: var(--primary);
    color: white;
  }

  .secondary {
    background: white;
    color: var(--primary);
    border: 1px solid var(--primary);
  }
</style>
